# To use this in test, with foreman, you need to populate these values and 
# rename this file to .env

# To use these settings without foreman, you need to make sure that each
# of these values is added to the environment, ala:  
# export DJANGO_SETTINGS_MODULE=pantsparty.settings
# Probably best to add them to a .bash_rc or something

DJANGO_SETTINGS_MODULE=pantsparty.settings

MANDRILL_API_KEY=""
OPBEAT_SECRET_TOKEN=""

SOSH_GOOGLE_SECRET=""
SOSH_TWITTER_SECRET=""
SOSH_FACEBOOK_SECRET=""
