<topheader></topheader>

<section id="body" class="page-section">
    <div class="wrap container-fluid" >
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1>About Pants Party</h1>

                <p>
                You know how everything in the new internet economy has to be 
                collaborative? And how marketing managers and new-school 
                educators alike are touting collaboration as the next great 
                thing in internet culture as if people haven't been 
                collaborating on things for thousands of fucking years?
                </p>

                <p>
                We like that shit too, which is why we built Pants.Party.
                </p>

                <p>
                Imagine Pants.Party as a game of hot potato. Whoever has the 
                potato is telling the joke. And say I start the joke, and I say, 
                "You ever hear the one about the two Irishmen and the mermaid?" 
                and then I toss the potato to you. Now that you have the 
                potato, you have to finish the joke.
                </p>

                <p>
                Some of us have intestinal worms inside of us, but all of us 
                have a funny bone or two inside of us. We think you're full of 
                punchlines and you don't even know it, and we want you to come 
                to the Pants.Party and show us what you've got.
                </p>

                <p>
                I mean, other than abject failure connected to a screenname via 
                which we can probably locate you IRL and mock you to your face 
                in front of your love interest, what's the worst that could 
                happen?
                </p>
            </div>
        </div>
    </div>
</section>

<bottomfooter></bottomfooter>
