<topheader></topheader>

<section id="body" class="page-section">
    <div class="wrap container-fluid" >
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1>Beliefs</h1>

                <p>
                We believe that funny is funny. We believe that not funny 
                belongs on CBS. We believe that no matter how clever you are, 
                if you can't find a good dick joke funny, you're not our kind 
                of person. We believe that even if a joke offends people, it 
                can still be funny, and also that jokes don't have to be ha-ha 
                funny to be funny. We believe that people falling down is as 
                funny as razor sharp satire, and that sometimes food words — 
                like sauerkraut or kielbasa — are inherently funny.
                </p>

                <p>
                Sometimes, we're going to cross the line, and we believe that's okay.
                </p>

                <p>
                Sometimes, <em>you're</em> going to cross the line, and we believe 
                that's okay.
                </p>

                <p>
                We believe our community is only going to be as strong and as 
                funny as our members, and we want our members to be all kinds 
                of people. There's no barrier to entry here, no bouncer at the 
                door of the Pants.Party. So get your ass in here and grab a 
                beer.
                </p>

                <p>
                Because we believe you'll need more than a few to stand spending time 
                with us.
                </p>
            </div>
        </div>
    </div>
</section>

<bottomfooter></bottomfooter>
