<topheader></topheader>

<section id="body" class="page-section">
    <div class="wrap container-fluid" >
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1>Pants.Party post</h1>
                <hr />
                <div ng-repeat="post in posts">
                    <h3><a analytics-on analytics-event="{{ post.title }}" ui-sref="blog-detail({ slug: post.slug })">{{ post.title }}</a></h3>
                </div>
            </div>
        </div>
    </div>
</section>

<bottomfooter></bottomfooter>
