<section id="footer1" class="page-section">
    <div class="wrap container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 footer">
                <h1>Community</h1>
                <ul class="footer">
                    <li><a ui-sref="home">Home</a></li>
                    <li><a ui-sref="faq">FAQ</a></li>
                    <li><a ui-sref="help">Help</a></li>
                    <li><a ui-sref="tos">Terms of Service</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 footer">
                <h1>Company</h1>
                <ul class="footer">
                    <li><a ui-sref="about">About</a></li>
                    <li><a ui-sref="blog">Blog</a></li>
                    <li><a ui-sref="team">Team</a></li>
                    <li><a ui-sref="beliefs">Beliefs</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 footer">
                <h1>A Haiku</h1>
                Haikus are easy<br />
                Five seven five is the goal<br />
                I should learn to count
            </div>
            <div class="footer col-lg-3 col-md-3 col-sm-3 col-xs-6 footer">
                <h1>Contact</h1>
                <a href="mailto:pantsparty@helpful.io">pantsparty@helpful.io</a><br />
                <a href="#"><img src="/static/images/social/facebook.png" /></a>
                <a href="#"><img src="/static/images/social/twitter.png" /></a>
            </div>
        </div>
    </div>
</section>
<section id="footer2" class="page-section">
    <div class="wrap container-fluid">
        <div class="row ">
            <div style="text-align: left;">
                <strong class="copyright">&copy; Pants.Party</strong><br />
                Nothing is sacred.
            </div>
        </div>
    </div">
</section>
