<topheader></topheader>

<section id="body" class="page-section">
    <div class="wrap container-fluid" >
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <img ng-src="{{ profile.avatar }}" class="img img-responsive img-circle img-thumbnail" />
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <h1>{{ profile.username }}</h1>
            </div>
        </div>
    </div>
</section>

<bottomfooter></bottomfooter>
