<div class="row" style="background-color: #ebf3f5; border-color: #BFF9E2; padding: 8px 0 20px 0;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p>
            Pants.Party is not currently available.  Not even alpha stage, at this point.  Most things are <em>broken</em>.  
            Still, if you want to be notified when we launch, this email subscription box should work pretty reliably,
            even though it's kind of an ugly box.
        </p>
        <form ng-submit="submitSubscription()">
            <input ng-model="subscription.email" type="email" name="input" required style="width: 100%; padding: 5px 0; font-size: 14pt;" placeholder="Email address" />
        </form>
    </div>
</div>
