<topheader></topheader>

<section id="body" class="page-section">
    <div class="wrap container-fluid" >
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1>Team</h1>

                <p>
                Pants.Party's team is just like that team that you liked in 
                that movie that time — a rag-tag group of ne'er-do-wells who 
                somehow triumph against all odds. Or something like that. 
                We're kind of like the kids in The Goonies and the kids in 
                The Wizard except grown up. So, like, dorks that can't talk 
                to girls.
                </p>

                <p>
                Still, we seem to get along, and make stuff, and now you're 
                here hanging out with us, so we can't be that bad.
                </p>

                <p>
                Here's who we are in a bit more detail:
                </p>

                <p>
                Barry: One of the co-creators of Pants.Party, Barry was born 
                with an overactive thyroid, causing him to grow to gargantuan 
                size before his twelfth birthday. As a result, his childhood 
                name was Hulk. Unlike the Hulk, however, his size wasn't due 
                to muscles, or or muscle mass. Like the Hulk, Barry was and 
                still is green in color. Doctors don't know what's up with 
                that, and they gave up on him a while back. For obvious 
                reasons, Barry is single.
                </p>

                <p>
                Scot: The other co-creator of Pants.Party, Scot is an 
                illustrator, a designer, and an artist who took a wrong turn 
                somewhere and got involved with Barry. He regrets this daily, 
                but because they share a terrible secret, he can't leave 
                Barry's side for long. If you like the way Pants.Party looks, 
                it's because of Scot.
                </p>

                <p>
                Kaveh: Kaveh is the next most important person at Pants.Party. 
                He makes things and fixes things. Put him in front of a 
                keyboard and he's Mozart to everyone else's Salieri. Put him 
                in front of a four-burner stovetop and he's a Mozart to 
                everyone else's Salieri — though it should be mentioned that 
                Mozart was a terrible cook. Kaveh's favourite jokes are 
                strange. They start out as knock-knock jokes and end up as 
                dirty limericks.
                </p>

                <p>
                Dave: If you like the way things sound on Pants.Party, that's 
                Dave. He's a writer, and has been his whole life because he 
                thought it would get him paid and laid. He was half right. It 
                got him a bunch of shirts, all of which are plaid.
                </p>

                <p>
                Some other people.
                </p>
            </div>
        </div>
    </div>
</section>

<bottomfooter></bottomfooter>
