<section id="teaser" class="page-section">
    <div class="wrap container-fluid">
        <div class="row">
            <div class="teaser-text col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h1>Pants.Party is the place to craft jokes. Start a joke, then invite the world to submit their best punchlines.</h1>
                <h3>Weekly prizes to the best jokes and punchlines.</h3>
                <a ui-sref="login" class="btn btn-warning btn-lg btn-block">Sign Up Today</a>
            </div>
            <div class="col-lg-6 col-md-6 col-hide-sm hidden-xs right">
                <img id="monitor" src="/static/images/animated.gif" />
            </div>
        </div>
    </div>
</section>
