<topheader></topheader>

<!-- I think this is going to go unused for now. -->
<section id="body" class="page-section">
    <div class="wrap container-fluid" >
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Verify Token</h3>
                <p ng-show="verified">
                    Kapow.  You are verified like... uhhh, if you think of something that rhymes with verified, <a href="mailto:bmelton@pants.party">email me</a>.
                </p>
                <p ng-show="verified">
                    This page is kind of boring, so you probably want to <a ui-sref="hello">go set up your profile</a>.
                </p>
            </div>
        </div>
    </div>
</section>

<bottomfooter></bottomfooter>
