<div>
    <div class="row jokeList">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 text-right">
            <img class="img-responsive img-thumbnail img-circle" 
                ng-src="{{ joke.user.avatar }}" />
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9">
            <div class="arrow-panel arrow-left col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <a ng-click="addHeart(joke);" ng-show="!joke.user_has_voted" class="glyphicon glyphicon-heart-empty"></a>
                <a ng-click="removeHeart(joke);" ng-show="joke.user_has_voted" class="glyphicon glyphicon-heart"></a>
                <span>{{ joke.text }}</span>
                <a class="right btn btn-xs btn-info" 
                    ng-click="togglePunchlineSubmit(joke.id);"><span class="glyphicon glyphicon-plus" style="font-size: 9pt;"></span>&nbsp;Punchline</a>
                <a class="right btn btn-xs btn-success"
                    ng-click="toggleCommentOnJokeSubmit(joke.id);"><span class="glyphicon glyphicon-plus" style="font-size: 9pt;"></span>&nbsp;Comment</a>
            </div>
            <p> 
                <a ui-sref="profile({ profileId: joke.user.id })" analytics-on="click" analytics-event="profile">{{ joke.user.username }}</a>
                <span class="category-article">in</span>
                <span class="category"><a ui-sref="jokes.category({ id: joke.category.id })" analytics-on="click" analytics-event="category.{{ category.id }}">{{ joke.category.name }}</a></span>
                <span class="right small">
                    <span>{{ joke.punchlines.length }} <span class="glyphicon glyphicon-asterisk"></span> &middot;</span> 
                    <span><a href="javascript:;" ng-click="getComments(joke);">{{ joke.comment_count }} <span class="glyphicon glyphicon-comment"></span></a> &middot;</span> 
                    <span am-time-ago="joke.created"></span>
                </span>
            </p>
            <p ng-show="joke.comments_active">
                <br />
                COMMENTS
                <p ng-show="joke.comments_active" ng-repeat="joke_comment in joke_comments">
                    <br />
                    {{ joke_comment.user.username }} - {{ joke_comment.text }}
                </p>
                <hr ng-show="joke.comments_active" />
                <form ng-show="joke.comments_active" ng-submit="submitComment(this, joke);">
                    <div class="form-group">
                        <label>Comment</label>
                        <input ng-model="commentModel.text" />
                    </div>
                </form>
            </p>
        </div>
    </div>
    <div class="col-sm-12">
        <h2 class="col-sm-12">Punchlines</h2>
        <div class="row jokeList reply" ng-show="plActive==joke.id">
            <div class="col-lg-offset-2 col-lg-10">
                <form ng-submit="submitPunchline(this, joke.id);">
                    <div class="form-group">
                        <label>Your punchline:</label>
                        <input ng-model="punchlineModel.text" />
                    </div>
                </form>
            </div>
        </div>
        <div ng-repeat="punchline in joke.punchlines">
            <div class="row jokeList reply">
                <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-3 col-lg-2 col-md-2 col-sm-2 col-xs-3 text-right">
                    <img class="img-responsive img-thumbnail img-circle" ng-src="{{ punchline.user.avatar }}" />
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
                    <div class="arrow-panel arrow-left col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        {{ punchline.text }}
                    </div>
                    <p>
                        {{ punchline.user.username }}
                        <span class="right small"><span am-time-ago="joke.created"></span></span>
                    </p>
                    <a class="right btn btn-xs btn-success"
                        ng-click="toggleCommentOnPunchlineSubmit(punchline.id);"><span class="glyphicon glyphicon-plus" style="font-size: 9pt;"></span>&nbsp;Comment</a>
                </div>
            </div>
            <div class="row jokeList reply" ng-show="cpActive==punchline.id">
                <div class="col-lg-offset-2 col-lg-10">
                    <form ng-submit="submitComment(this, joke.id, punchline.id);">
                        <div class="form-group">
                            <label>Comment</label>
                            <input ng-model="commentModel.text" />
                        </div>
                    </form>
                </div>
            </div>
            <div ng-repeat="comment in punchline.comments">
                <div class="row jokeList reply">
                    <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-3 col-lg-2 col-md-2 col-sm-2 col-xs-3 text-right">
                        <img class="img-responsive img-thumbnail img-circle" ng-src="{{ punchline.user.avatar }}" />
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
                        <p>
                            {{ comment.user.username }} commented on punchline:
                            <span class="right small"><span am-time-ago="comment.created"></span></span>
                        </p>
                        <div class="arrow-panel arrow-left col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            {{ comment.text }}
                        </div>
                    </div>
                </div>
                <p> 
                    <a ui-sref="profile({ profileId: punchline.user.id })" analytics-on="click" analytics-event="profile">{{ punchline.user.username }}</a>
                    <span class="right small"><span am-time-ago="joke.created"></span></span>
                </p>
            </div>
        </div>
    </div>
</div>
