<topheader></topheader>


<div ng-hide="isAuthenticated();">
    <teaser></teaser>
</div>

<section id="body" class="page-section">
    <div class="wrap container-fluid" >
        <subscriber></subscriber>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h1>Recent Jokes</h1>
                <div ng-repeat="joke in jokes">
                    <joke joke="joke"></joke>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="row">
                    <div class="col-lg-12 ">
                        <h1>Trending</h1>
                        <p>
                            The trending stuff will go here.  It's kind of 
                            blank at the moment, and that's sad, but I'll 
                            build a trending function, and then it'll be just 
                            great.
                        </p>
                        <p>Maybe.</p>
                        <hr />

                        <h1>Images</h1>
                        <span ng-repeat="image in images">
                            <div class="col-md-5 col-sm-5 col-xs-12" style="margin: 5px; height: 280px; background: center url('{{ image.image }}');">&nbsp;</div>
                        <span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<bottomfooter></bottomfooter>
