<style>
@import url(http://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:400,700);
</style>

<h1 style="font-family: 'Roboto Slab', serif;">Welcome to the Party</h1>

<div style="text-align: center; width: 100%;">
    <img src="http://pants.party/static/images/logo.png"/>
</div>

<p style="font-family: Roboto, serif;">
This is your official welcome email, y'know, to the Pants.Party.  
</p>

<p style="font-family: Roboto, serif;">
We're a new website, which probably means that we suck, at least right now, so 
if you want to vent about how much we suck, or have any questions, shoot me an 
email, at <a href="mailto:bmelton@pants.party">bmelton@pants.party</a>
</p>
